* {
  box-sizing: border-box;
}

body {
  background-image: url(../assets/images/game_background.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
  margin: 0;
  height: 100vh;
  color: black;
  background-color: #fecfc5;
  background-position: center;
 
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  position: relative;
  z-index: -1;
}

.ice-cream-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 80px;
  padding: 4px;
  background-color: #fee8e1;
  border-radius: 20px;
  box-shadow: 2px 2px #00000040;
  position: relative;
  left: 100px;
  top: 25px;
}

img {
  width: 40px;
  height: auto;
  margin-bottom: -20px;
}

.decoration {
  width: 30px;
  height: auto;
  margin-bottom: -14px;
}



/*עיצוב השלוש קווים של התפריט*/
.container1 {
  display: inline-block;
  position: relative;
  top: 10px;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 60px;
  height: 9px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f0ba18;
}

.sidenav a {
  color: white;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-43deg) translate(-8px, 7px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-15px, -12px)
}


.hidden {
  display: none;
}

.hidden1 {
  display: none;
}

.buttonNav {
  background: none;
  border: none;
  padding: unset;

}

.menu-img {
  width: 6.5vh;
  height: 6.5vh;
  border-radius: 10%;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0.8vh;

  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.a_menu-container {
  display: inline-grid;
}

.music {
  font-size: 20px;
  font: bold 20px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.ice-cream-elements {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;

}

.cardsAndNav {
  display: flex;
  grid-area: 1 / 1 / -1 / 2;
}

div {
  display: block;
  unicode-bidi: isolate;
}

div.nav-list {
  width: 60px;
}

.show {
  display: block;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: right;
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #111;
}

.modal-header {
  padding: 2px 16px;
  background-color: #971699;
  color: white;
}

.elements-btn {
  height: 60px;
  width: 60px;
  background-color: #fd8182;
  border-radius: 10px;
  margin-left: 5px;
  box-shadow: 2px 2px #00000040;
  cursor: pointer;
  text-align: center;
  font-size: 30px;
}

/* האיקס לסגירת דף הוראות משחק */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  
}

/* האיקס לסגירת דף הוראות משחק */
.close:hover,
.close:focus {
  color: rgb(249, 238, 238);
  text-decoration: none;
  cursor: pointer;
}

.closeFinish {
  color: #73a0e1;
  float: right;
  font-size: 50px;
  font-weight: bold;
  margin-top:1%;
  margin-right:3%;
  
}

/* האיקס לסגירת דף הוראות משחק */
.closeFinish:hover,
.closeFinish:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*  דף הוראות משחק */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

}



.def {
  text-align: center;
  margin-top: 7px;
  margin-bottom: 7px;
}

#selectionDef {
  border-radius: 10%;
  background-color: rgba(255, 255, 255, 0.5);
  color: #111;
  margin: 0.8vh;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

/* גביעי הצלחה */
.coneWin-elements {
  height: auto;
  width: 60px;
}


.flexCone-col {
  display: flex;
  flex-direction: column;
}

.flexCone-row {
  display: flex;
  margin-right: 0px;
  grid-area: 1/4/1/6;
  flex-direction: row;
  justify-content: flex-end;
}


.elements-icon {
  width: 100%;
  height: auto;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.none {
  display: none;
}

.elements {
  background-color: #feb5ae;
  border-radius: 10px;
  height: fit-content;
  width: 60px;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px #00000040;
}

.elements-images {
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
  border: 1px solid #fd8182;
  cursor: pointer;
}

.border-radius-top {
  border-radius: 10px 10px 0px 0px
}

.border-radius-bottom {
  border-radius: 0px 0px 10px 10px
}

.created-container {
  display: flex;
  flex-direction: column-reverse;
  width: fit-content;
  align-items: center;
  position: relative;
  bottom: 80px;
}

.start {
  display: flex;
  flex-direction: row;

}

.iconStart {
  margin-top: 5px;

}

.grid {
  grid-area: 1 / 2 / -1 / 4;
  margin-top: 55px;
  margin-left: 155px;
}

.built-ice-cream {
  width: 35px;
  height: auto;
  margin-bottom: -16px;
}

.built-decoration {
  width: 20px;
  height: auto;
  margin-bottom: -9px;
}

.cone {
  margin-bottom: 0px !important;
}

.person {
  width: auto;
  height: 250px;
}

@keyframes enter {
  0% {
    transform: translate(0px, 0px);
  }

  100% {
    transform: translate(70vw, 0px);
  }

}

@keyframes out {
  0% {
    /* transform: translate(70%, 0px); */
  }

  100% {
    transform: translate(calc(100vw + 100px), 0px);
  }

}

.person,
.ice-cream-container {
  animation-name: enter;
  animation-duration: 4s;
  transform: translate(70vw, 0px);
  margin-bottom: 0px;
}

.out {
  animation-name: out;
  animation-delay: 2.5s;
  animation-duration: 2s;
}

.contain-person {
  position: relative;
  top: calc(100% - 400px);
  grid-area: 3/1/3/6;
  z-index: -1;
  height: 0px;
}

.money {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* .flex-row  .score-addition {
  position: absolute;
  right: 30px;
  color: red;
  font-size: 25px;
  line-height: 25px;
  font-weight: bold;
  color: rgba(119, 110, 101, 0.9);
  z-index: 100;
  -webkit-animation: move-up 600ms ease-in;
  -moz-animation: move-up 600ms ease-in;
  animation: move-up 600ms ease-in;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  
}

.score-container:after {
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #eee4da;
} */


.table-final td {

  color: #fd8182;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  width: 200px;
  height: 50px;
 

}





.table-final {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  border: 400px;
  margin-left: 16%;
  margin-top: 35%;


}

.nextLevel-content {

  
  background-image: url(../assets/images/icons/win.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width:950px;
  height: 532px;
  border-radius:10px;
  margin-top:3%;
  display: none;
  margin-left: 15%;
  position: fixed;
  z-index: 1;
  overflow: auto;
  top: 0;
   
  
}

.allDatailOfWin{
  display: flex;
  flex-direction: row;
}

.titleOfWin{
  display: flex;
  flex-direction: column;
 margin-left: 50%;
 text-align: left;
 font-weight:bolder;
}

.datailOfWin{
  display: flex;
  flex-direction: column;
}




/* //animation of the add score */
@keyframes slowFloatUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-200px);
    opacity: 0;
  }
}

.floating-text1 {
 
  position: absolute;
  animation: slowFloatUp 2s ease-in-out forwards;
  color:#111;
  font-size: 30px;
  
}
/* 
{

} */



#score {
  position: relative;
}

/* //till here */


  /* display: none;
} */




#myProgress {
  width: 40px;
  height: 540px;
  background-color: #f98c79;
  border: 1px solid #f98c79;
  grid-area: 1/5/-1/5;
  position: relative;
  left: calc(100% - 85px);
  top: calc(100% - 600px);
}

#myBar {
  width: 100%;
  background-color: #fee7d5;
}
