body {
  background-image: url(../assets/images/game_background.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
  margin: 0;
  height: 100vh;
  color: var(--yellow);
  background-color: #fecfc5;
  background-position: bottom;
}

.icecream-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: fit-content;
  
}

img {
  width: 50px;
  height: auto;
  margin-bottom: -20px;
}

.decoration {
  width: 30px;
  height: auto;
  margin-bottom: -15px;
}



/*עיצוב השלוש קווים של התפריט*/
.container1 {
  display: inline-block;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
  width: 60px;
  height: 9px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
 transform: rotate(-43deg) translate(-8px, 7px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-15px, -12px)
}


.hidden{
  display: none;
}

.hidden1{
  display: none;
}

.buttonNav{
    background:none;
    border:none;
    padding:unset;
    
}
.menu-img {
  width: 6.5vh;
  height: 6.5vh;
  border-radius: 10%;
  background-color: rgba(255,255,255,0.5);
  margin: 0.8vh;
 
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.a_menu-container {
  display: inline-grid;
} 

.music {
  font-size:20px;
  font:bold 20px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
position: relative;
display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
min-width: 160px;
z-index: 1;
}
div {
  display: block;
  unicode-bidi: isolate;
}

.ice-cream-elements {
  display: flex;
  flex-direction: row;
  justify-content: center;
}