* {
    box-sizing: border-box;
  }
  body {
    background-image: url(../assets/images/backGroundHome.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
 
    margin: 0;
    background-color: #eecfca;
    color: black;
   
  
  
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr  1fr 1fr 1fr;
    position: relative;
    z-index:1;
  }


/* אנימצית הלקוח */
@keyframes out {
    0% {
      /* transform: translate(70%, 0px); */
    }
  
    100% {
      transform: translate(calc(100vw + 100px), 0px);
    }
  
  }
  
  /* .person,
  .ice-cream-container {
    animation-name: enter;
    animation-duration: 4s;
    transform: translate(70vw, 0px);
    margin-bottom: 0px;
  } */
  
  .out {
    animation-name: out;
    animation-delay: 2.5s;
    animation-duration: 2s;
  }
  .oneGame img{
    position: relative;
    width: 6.5vh;
    height: 6.5vh;
    border-radius: 10%;

        overflow-clip-margin: content-box;
        overflow: clip;
        z-index: 1;

  }
  .oneGame img{
    position: relative;
    width: 6.5vh;
    height: 6.5vh;
    border-radius: 10%;

        overflow-clip-margin: content-box;
        overflow: clip;
        z-index: 1;

  }
  .threeGame img{
    position: relative;
    width: 6.5vh;
    height: 6.5vh;
    border-radius: 10%;

        overflow-clip-margin: content-box;
        overflow: clip;
        z-index: 1;

  }
  .towGame img{
    position: relative;
    width: 6.5vh;
    height: 6.5vh;
    border-radius: 10%;

   overflow-clip-margin: content-box;
        overflow: clip;
        z-index: 1;

  }
  .fourColum {
    position: relative;
    top: calc(100% - 400px);
    grid-area: 2/1/2/3;
    z-index:1;
    height: 0px;

   
  }

  .towColum {
    position: relative;
    top: calc(100% - 400px);
    grid-area: 2/5/2/4;
    z-index: 1;
    height: 0px;
  }

  