* {
    box-sizing: border-box;
  }
  body {
    background-image: url(../assets/images/backGroundHome.jpeg);
    background-repeat: no-repeat;
    background-size: 100vw;
    margin: 0;
    height: 100vh;
    color: black;
    background-color: #fecfc5;
    background-position: center;
   
  
  
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    position: relative;
    z-index:-1;
  }


/* אנימצית הלקוח */
@keyframes out {
    0% {
      /* transform: translate(70%, 0px); */
    }
  
    100% {
      transform: translate(calc(100vw + 100px), 0px);
    }
  
  }
  
  /* .person,
  .ice-cream-container {
    animation-name: enter;
    animation-duration: 4s;
    transform: translate(70vw, 0px);
    margin-bottom: 0px;
  } */
  
  .out {
    animation-name: out;
    animation-delay: 2.5s;
    animation-duration: 2s;
  }

  .title{
    height: 50px;
    width:700px;
    grid-area: 1/2/4/5;
    position: absolute;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;
    animation: slideImage 1s ease forwards;
    
}
@keyframes slideImage {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

  .Game img{
    position: relative;
    width: 20vh;
    height:20vh;
    border-radius: 10%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    transition: transform 0.3s ease;
    /* overflow-clip-margin: content-box;
    overflow: clip; */
     z-index: 1;

  }
  
  .Game img:hover {
    transform: scale(1.05);
}


  
  .oneColum {
    position: relative;
    /* top: calc(100% - 400px); */
    grid-area: 4/3/4/4;
    display:grid;
    z-index:1;
    animation: slideLeftToPosition 1s ease-in-out forwards;
  }


  @keyframes slideLeftToPosition {
    0% {
        left: -200%; /* מיקום התחלתי משמאל */
    }
    100% {
        left: 0; /* מיקום סופי */
    }
}
  .towColum {
    position: relative;
    /* top: calc(100% - 400px); */
    margin-left: -100px;
    grid-area: 4/6/4/4;
    z-index: 1;
    animation: slideRightToPosition 1s ease-in-out forwards;
  
  }

  @keyframes slideRightToPosition {
    0% {
        right: -100%; /* מיקום התחלתי מימין */
    }
    100% {
        right: 0; /* מיקום סופי */
    }
}