@font-face {
    font-family: 'Heebo-Regular';
    src: url('../assets/fonts/Heebo-Regular.ttf') format('truetype');
}

body {
    font-family: Heebo-Regular;
    --yellow: #fdd22e;
    --pink: #FF95AA;
    --purple: #8F6BA4;
    --lightblue: #02CAD9;
    --dark-pink: #EC407A;
}
