* {
    box-sizing: border-box;
  }
  body {
    background-image: url(../assets/images/backGroundHome.jpeg);
    background-repeat: no-repeat;
    background-size: 100vw;
    margin: 0;
    height: 100vh;
    color: black;
    background-color: #fecfc5;
    background-position: center;
   
  
  
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    position: relative;
    z-index:-1;
  }




  .title{
    height: 50px;
    width:700px;
    grid-area: 1/2/4/5;
    position: absolute;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;
    animation: slideImage 1s ease forwards;
    
}
@keyframes slideImage {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

  .Game img{
    position: relative;
    width: 20vh;
    height:20vh;
    border-radius: 10%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    transition: transform 0.3s ease;
    /* overflow-clip-margin: content-box;
    overflow: clip; */
     z-index: 1;

  }
  
  .Game img:hover {
    transform: scale(1.05);
}


  
  .oneColum {
    position: relative;
    /* top: calc(100% - 400px); */
    grid-area: 4/3/4/4;
    display:grid;
    z-index:1;
    animation: slideLeftToPosition 1s ease-in-out forwards;
  }


  @keyframes slideLeftToPosition {
    0% {
        left: -200%; /* מיקום התחלתי משמאל */
    }
    100% {
        left: 0; /* מיקום סופי */
    }
}
  .towColum {
    position: relative;
    /* top: calc(100% - 400px); */
    margin-left: -100px;
    grid-area: 4/6/4/4;
    z-index: 1;
    animation: slideRightToPosition 1s ease-in-out forwards;
  
  }

  @keyframes slideRightToPosition {
    0% {
        right: -100%; /* מיקום התחלתי מימין */
    }
    100% {
        right: 0; /* מיקום סופי */
    }
}








* {
  box-sizing: border-box;
}

body {
  background-image: url(../assets/images/background.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
  margin: 0;
  height: 100vh;
  color: var(--yellow);
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 2px 0px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  color: black;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: var(--pink);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: var(--lightblue);
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5dbd;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 70%; 
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  background-color: transparent;
}

.close:hover,
.close:focus {
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

h1 {
  text-align: center;
}

.containBtn {
  width: fit-content;
  margin: auto;
}

.btn-sign-up, .btn-sign-in {
  width: auto;
}

.error, .error-in {
  color: red;
  font-size: smaller;
  font-weight: bold;
  text-align: center;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
