body {
    font-family: Arial, Helvetica, sans-serif;
    --other-color: rgb(163, 217, 230);
    --same-color: rgb(249, 132, 169);
    background-image:url('../colors-game/assets/backGroundAll.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



div.flex-col > div {
    background-image: url(./assets/ice-cream.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--same-color);
    
    height: 200px;
    width: 200px;
    margin: 10px;
    border-radius: 5%;
    cursor: pointer;
    font-size: 62px;
    box-shadow: 1px 1px #771b2c;
}

.flex-col {
    display: flex;
    flex-direction: row;
}

.flex {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items:center;
}

h1 {
    text-align: center;
    font-size: 62px;
    text-shadow: 1px 1px #771b2c;
    margin-left: 33%;
}

p {
    font-weight: bold;
    color: #771b2c;
}

.header{

    display: flex;
    flex-direction: row;

  }
  
  .menu-img {
    width: 10vh;
    height: 10vh;
    border-radius: 10%;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 0px;
    margin-left: 0px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  }